@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #5B223F;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #d8007049;
  }
}
